/* Typesetter.css Ⓒ2012-2019 Timothy Allen
 * https://gitlab.com/Screwtapello/typesetter-css/
 */

@line: 1.25rem;
@hairline: 0.125rem;
@smallfont: 0.75rem;

@bodywidth: 35rem;
@asidewidth: 10rem;

html {
    font-size: 1em;
    line-height: @line;

    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

body {
    max-width: @bodywidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0 @line;
    padding-bottom: (3 * @line);
    position: relative;
}

h1, h2, h3, h4, h5, h6 { margin: @line 0; }

h1 { font-size: 1.5em; line-height: (2 * @line); }
h2, h3, h4, h5, h6 {
    font-size: 1.0em;
    line-height: @line;
}

h1 { font-weight: bold; text-align: center; }
h2 { font-weight: bold; }
h3 { font-weight: inherit; font-variant: small-caps; }
h4 { font-weight: inherit; font-style: italic; }
h5 { font-weight: inherit; font-size: 0.875em; }
h6 { font-weight: inherit; font-size: 0.750em; }

div, ul, ol, li, address, table, pre, nav, aside, figure { margin: @line 0; }

p { margin: 0; }
p+p { text-indent: @line; }

ul, ol {
    padding-left: 0;
    margin-left: (2 * @line);
}
li ul, li ol { margin-top: 0; margin-bottom: 0; }

dt { margin-top: @line; }
dt+dt { margin-top: 0; }
dd { margin-bottom: @line; margin-left: (2 * @line); }

blockquote {
    margin: @line (2 * @line);
}

table { margin-left: auto; margin-right: auto; }

thead { border-bottom: @hairline solid currentColor; }
tfoot { border-top:    @hairline solid currentColor; }
thead, tfoot {
    th, td {
        line-height: (@line - @hairline);
    }
}

td, th { font-size: @smallfont; padding: 0 (@line / 2); }
td:first-child, th:first-child { padding-left: 0; }
td:last-child, th:last-child { padding-right: 0; }

pre { font-size: 0.75rem; }
code { hyphens: manual; }

hr {
    color: inherit;
    margin-top: (@line - @hairline);
    margin-bottom: @line;
    border: none;
    border-top: @hairline solid;
}

aside, nav {
    font-size: @smallfont;
    line-height: @line;

    h1 { font-size: 1.000rem; line-height: @line; }
}

aside :first-child, nav :first-child { margin-top: 0; }


/* By default, navigation should appear inline */
nav {
    text-align: center;

    /* Flatten the navigation hierarchy */
    ul { margin-left: 0; }
    ul, li { display: inline; }

    /* Use vertical bars to separate each item. */
    li:before { content: ' | '; }
    li:first-of-type:before { content: ''; }
    li>ul:before { content: ' | '; }
}

/*
 * By default, asides should appear inline, but narrower because they have
 * a smaller font size.
 */
aside {
    max-width: (@asidewidth + @asidewidth);
    margin-left: auto;
    margin-right: auto;
}

/* If we have sufficient width to put stuff on the sides... */
@asideoffset: (@line + @asidewidth);
@bodyWithAsides: (@line + @asideoffset + @bodywidth + @asideoffset + @line);
@media (min-width: @bodyWithAsides) {

    aside, nav {
        margin-top: 0;
        margin-bottom: @line;

        width: @asidewidth;
        text-align: left;
    }

    aside {
        clear: right;
        float: right;
        margin-right: (0 - @asideoffset);
    }

    /* If asides aren't inline, they shouldn't disrupt paragraph indents. */
    aside+p { text-indent: @line; }

    nav {
        text-align: left;
        clear: left;
        float: left;
        margin-left: (0 - @asideoffset);

        /* Now we have room to display the hierarchy */
        ul, li { display: block; margin: 0; }
        ul ul { margin-left: @line; }

        li>ul:before { content: ''; }
        li:before { content: ''; }
    }
}

/* If we don't even have our minimum width, don't bother justifying. */
@media (max-width: @bodywidth) {
    html { text-align: left; }
}

/* Special support for footnotes from Pandoc */
div.footnotes { font-size: @smallfont; }
