/* Typesetter.css Ⓒ2012-2019 Timothy Allen
 * https://gitlab.com/Screwtapello/typesetter-css/
 */

@background: #fffcf0;
@foreground: #333350;
@shaded_bg: rgba(0, 0, 0, 0.1);

html {
    background: @background;
    color:      @foreground;
}

:link { color: #55C; }
:link:hover { color: #33E; background: @shaded_bg; }
:visited { color: #848; }
:visited:hover { color: #A3A; }
:link:active, :visited:active { color: #E33; }

tr:nth-child(even) { background: @shaded_bg; }
